<ion-header>
  <ion-toolbar>
    <ion-title>{{'notifications' | language}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <p class="text-black-50 mt-4">{{'today' | language}}</p>
    <div class="row">
      <div class="col-3" style="width: 18%">
        <img
                src="assets/notification/fast-delivery.png"
                alt=""
                class="notify_ico"
        />
      </div>
      <div class="col-9">
        <p class="text-black-50">
          <span class="text-dark">{{'coming' | language}}</span> {{'shipmentOnway' | language}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-3" style="width: 18%">
        <img src="assets/notification/tag.png" alt="" class="notify_ico" />
      </div>
      <div class="col-9">
        <p class="text-black-50">
          <span class="text-dark">Coming!</span> {{'shipmentOnway' | language}}
        </p>
      </div>
    </div>
  </div>

</ion-content>
