<div class="container mt-4">
    <div class="row p-4">
        <div class="col-5 img_cont_1 text-white " style="border-radius:20px;">
            <div class="text-end ps-4 pt-3">
                <img alt="" src="assets/deliverycomplete/copy.png" style="width: 45%">
            </div>

            <p class="mb-0">{{'documents' | language}}</p>
            <span class="mb-4" style="font-size: 12px ">{{'exletterstatementApp' | language}}</span>
        </div>
        <div class="col-5 img_cont_2 text-dark" style="border-radius:20px; margin-left: 60px;">
            <div class="text-end ps-4 pt-3">
                <img alt="" src="assets/deliverycomplete/parcel.png" style="width: 45%">
            </div>
            <p class="mb-0">Parcel</p>
            <span class="mb-4" style="font-size: 12px ">{{'exclothelecFurn' | language}}</span>
        </div>
    </div>


<!--    <div class="dropdown">-->
<!--        <mat-card (click)="shipmentCard.shipment = !shipmentCard.shipment" *ngFor="let item of deliveryData"-->
<!--                  class="otn_btn mt-5" style="border-radius: 11px">-->
<!--            <div class="row">-->
<!--                <div class="col-8">-->
<!--                    <p class="mb-0 d">Shipment Saved</p>-->
<!--                </div>-->
<!--                <div class="col-4 text-end">-->
<!--                    <img alt="" src='assets/deliveryhistory/left-arrow.png'-->
<!--                         style="transform: rotate(180deg);height: 15px;">-->
<!--                </div>-->
<!--                <div *ngIf="shipmentCard.shipment" style="margin-top: 25px;">-->
<!--                    <p>Quantity: <span>{{item.quantity}}</span></p>-->
<!--                    <p>Weight:-->
<!--                        <span>{{item.weightType === 'kg' ? item.weight + 'kg' : item.weight + 'lbs'}}</span>-->
<!--                    </p>-->
<!--                    <p>Height: <span>{{item.width}}</span></p>-->
<!--                    <p>Weight: <span>{{item.length}}</span></p>-->
<!--                    <p>Description: <span>{{item.description}}</span></p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </mat-card>-->
<!--        <div class="p-5">-->
<!--            <div>-->
<!--                <button class="btn_submit" mat-button>Add More Items</button>-->
<!--            </div>-->
<!--            <div>-->
<!--                <button class="btn_submit" mat-button>Go To Schedule Pickup</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
