//
//
//// notification
//
////
//
//// place delevery
//.pickup{
//    border: none;
//    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
//}
//
//.my_card{
//    margin-top: 30px;
//}
//
//.drop_card{
//    margin-top: 30px;
//}
//
//.sub_btn{
//    background-color: #F89142;
//    color: #fff;
//    padding: 1rem 7rem;
//    border-radius: 15px;
//    margin-bottom: 1rem;
//}
//
//
//// contactus
//.contact_arrow{
//    height: 21px;
//    transform: rotate(180deg);
//    opacity: 0.4;
//}
.notify_ico {
    background: #f78c3a3b;
    border-radius: 50%;
    height: 50px;
    padding: 5px;
}

.text_color{
    color: #000000;
}
.textColor{
    color: rgba(0,0,0,.5);
}


//

.notify_ico {
    background: #f78c3a3b;
    border-radius: 50%;
    height: 50px;
    padding: 5px;
}

.clear{
    margin-bottom: 10px;
}
.main {
    margin: 5rem auto;
    padding: 2.5rem;
    opacity: 0.5;

    p {
        text-align: center;
        opacity: 0.5;
        font-size: 16px;
        margin-top: 15px;
    }
}
