.container-fluid{
  font-family: sf , serif;
}


.bottom {
  background-color: #ffffff;
  bottom: 10px;
  height: 73% !important;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}

.login_btn{
  background-color: #F89142;
  color: #fff;
  border-radius: 15px;
  padding: 8px 113px;
  font-size: 17px;
  margin-bottom: 14px;
}

.cancel_btn{
  border: 1px solid #F89142;
  color: #F89142;
  border-radius: 15px;
  padding: 8px 113px;
  font-size: 17px;
  margin-bottom: 14px;
}

.box_shadow{

}
