<div class="container-fluid position-relative h-100 px-0">
    <div class="top w-100 h-50 text-light" style="background-color: #f89142">
        <div class="text-start p-4 ">
            <h1 style="font-family: Avenir, serif" class="mt-5 ms-4">{{'forgetPwd' | language}}</h1>
            <p class="ms-4">{{'resetPwd' | language}}</p>
        </div>
    </div>
    <div class="bottom position-absolute w-100 h-75">
        <div class="login_cont p-5">

            <form>
               <mat-form-field appearance="outline" class="w-100 box_shadow">
                   <mat-label>{{'enteryourEmail' | language}}</mat-label>
                   <input type="email" matInput>
                   <mat-error>{{'emailnotmatch' | language }}</mat-error>
               </mat-form-field>
                <mat-form-field appearance="outline" class="w-100 box_shadow">
                   <mat-label>{{'enterPhone' | language}}</mat-label>
                   <input type="tel" matInput>
                    <mat-error>{{'entervalidphone' | language}}</mat-error>

               </mat-form-field>


                <div class="text-center mt-2 mb-4">
                    <button class="login_btn mt-5" mat-button >{{'send' | language}}</button>
                </div>
                <div class="text-center mt-2 mb-4 m-t-5">
                    <button routerLink="/tabs/profile" class="cancel_btn" type="button" mat-button >{{'cancel' | language}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
