.img_cont_1{
  background-color: #838FF8;

}

.delivery{
  font-family: sf ,serif;
}

.img_cont_2{
  background-color: #D39AAB;
}

.btn_submit{
  background-color: #F78C3A;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 1rem;
  border-radius: 15px;
  margin-top: 36px;


}

.btn_kl{
  padding: 10px;
  border-radius: 15px;
  margin-left: 15px;
  margin-bottom: 20px;


}
pickup{
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}

.my_card{
  margin-top: 30px;
  border-radius: 16px;
}

.drop_card{
  border-radius: 16px;
  margin-top: 30px;
}

.sub_btn{
  background-color: #F89142;
  color: #fff;
  padding: 11px 6rem;;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.btnBorder{
  border: 1px solid #F78C3A;
}

*{
  font-family: 'Nunito', sans-serif;
}

