.container{
  padding: 48px 35px;
  margin: 36px 0px;
}



.pass_btn{
  background-color: #F89142;
  color: #fff;
  border-radius: 15px;
  padding: 9px 70px;
  font-size: 17px;
  margin-bottom: 14px;
}
