<div class="container">
    <h1 style="margin-bottom: 40px;">{{'changePwd' | language}}</h1>
    <form class="d-flex flex-column justify-content-center">
        <mat-form-field appearance="outline">
            <mat-label>{{'currentPwd' | language}}</mat-label>
            <input matInput type="password">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>{{'newPwd' | language}}</mat-label>
            <input matInput type="password">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>{{'confirmPwd' | language}}</mat-label>
            <input matInput type="password">
        </mat-form-field>

        <div class="text-center">
            <button class="pass_btn" mat-button>{{'changePwd' | language}}</button>
        </div>
    </form>
</div>
