.container{
	font-family: sf ,sans-serif;
}


.user_icon {
	height: 20px;
}

.user_arrow {
	transform: rotate(180deg);
	height: 21px;
	opacity: 0.4;
}

.profile-card{
	border-radius: 20px;
	margin-top: 20px;
}
.prfl_pic{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
