.conti_btn{
  background-color: #F89142;
  color: #fff;
  border-radius: 15px;
  padding: 3px 0;
  width: 100%;
}
.conti_border_btn{
  border: 1px solid #F89142;
  color: #F89142;
  border-radius: 15px;
  padding: 3px 0;
  width: 100%;
}

.img_brand{
  width: 40%;
}