*{
  font-family:'Nunito', sans-serif;;
}
.text_sugg{
  margin-left: 38px;
  margin-top: 29px;
}


.sub_btn{
  text-align: center;
  margin-top: 90px;
}
.conti_btn,.btn_delv{
  background-color: #F89142;
  color: #fff;
  border-radius: 15px;
  padding: 6px 95px;
}
.payment_btn{
  background-color: #F89142;
  margin-top: 20px;
  color: #fff;
  padding: 10px 30px;
  border-radius: 15px;
}
