
.shot {
  text-align: center;
  border: 4px dashed #00000070;
  padding: 50px;
  margin: 36px 39px;
}

.pic_shot {
  height: 67px;
  opacity: 0.5;
}

.upload_btn {
  padding: 14px 99px;
}
.pic{
  border: 1px solid #44414166;
  width: 100%;
}
.pic_btns{
  padding: 10px 45px;
  font-size: 17px;
}

.upload_btn{
  background-color: #F89142;
  margin-top: 20px;
  color: #fff;
  padding: 10px 30px;
  border-radius: 15px;
  width: 84%;
}
