.img_cont_1{
  background-color: #838FF8;

}

.delivery{
  font-family: sf ,serif;
}

.img_cont_2{
  background-color: #D39AAB;
}

.btn_submit{
  background-color: #F78C3A;
  color: #fff;
  font-size: 1rem;
  border-radius: 50%;
  position: fixed;
  bottom: 10%;
  right: 30px;
}

.btn-schedule{
  background-color: #F78C3A;
  padding: 10px;
  color: #fff;
  font-size: 1rem;
  border-radius: 15px;
  width: 100%;
  margin-top: 50px;
}

.btn_kl{
  padding: 10px;
  border-radius: 15px;
  margin-left: 15px;
  margin-bottom: 20px;


}
.pickup{
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}

.my_card{
  margin-top: 30px;
}

.drop_card{
  margin-top: 30px;
}

.sub_btn{
  background-color: #F89142;
  color: #fff;
  padding: 11px 6rem;;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.btnBorder{
  border: 1px solid #F78C3A;
}

.item-fs{
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin: 13px 2px;
}


.border-radius{
  border-radius: 10px!important;
}

.items {
  margin: 8px;
}
.remove-btn{
  border: 1px solid #f36801;
  color: #f36801;
  padding: 0 15px;
  border-radius: 15px;

}
