
<div class="container">
<div *ngIf="data.getItems().length > 0" class="my-3">
  <h3 class="m-10">{{'addItems' | language}}</h3>
  <mat-accordion>
    <mat-expansion-panel class="border-radius items" *ngFor="let item of data.getItems() as i">
      <mat-expansion-panel-header class="mat-exp-header">
        <mat-panel-title>
          {{item.name}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <div  style="margin-top: 25px;">
          <div class="item-fs"><span>{{'quantity' | language}}:</span> <span>{{item.quantity}}</span></div>
          <div class="item-fs"><span>{{'weight' | language}}:</span>
            <span>{{item.weight + ' Kg'}}</span>
          </div>
          <div class="item-fs"><span>{{'height' | language}}:</span> <span>{{item.height + ' Cm'}}</span></div>
          <div class="item-fs"><span>{{'width' | language}}:</span> <span>{{item.width + ' Cm'}}</span></div>
          <div class="item-fs"><span>{{'length' | language}}:</span> <span>{{item.length + ' Cm'}}</span></div>
          <div class="item-fs"><span>{{'desc' | language}}:</span> <span class="m-l-10">{{item.description}}</span></div>
          <div class="item-fs"><span>{{'charge' | language}}:</span> <span class="m-l-10">{{item.charge}}</span></div>
            <hr>
          <div class="t-right"><button mat-flat-button class="remove-btn" (click)="removeItems(item)">{{'remove' | language}}</button></div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <button class="btn-schedule" [disabled]="data.getItems().length === 0"  mat-button  (click)="goToSchedulePick()">{{'goDelivery' | language}}</button>

</div>

</div>


<div *ngIf="data.getItems()" class="text-center">

 <div *ngIf="data.getItems().length === 0" style="padding-top: 30%">
   <svg style="width:96px;height:96px" viewBox="0 0 24 24">
     <path fill="#9d9d9d" d="M2,10.96C1.5,10.68 1.35,10.07 1.63,9.59L3.13,7C3.24,6.8 3.41,6.66 3.6,6.58L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.66,6.72 20.82,6.88 20.91,7.08L22.36,9.6C22.64,10.08 22.47,10.69 22,10.96L21,11.54V16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V10.96C2.7,11.13 2.32,11.14 2,10.96M12,4.15V4.15L12,10.85V10.85L17.96,7.5L12,4.15M5,15.91L11,19.29V12.58L5,9.21V15.91M19,15.91V12.69L14,15.59C13.67,15.77 13.3,15.76 13,15.6V19.29L19,15.91M13.85,13.36L20.13,9.73L19.55,8.72L13.27,12.35L13.85,13.36Z" />
   </svg>
   <h3 class="text-center grey-col">
   {{'noorderAdd' | language}}
   </h3>
 </div>


  <div class="p-5">
    <div>
      <button mat-fab (click)="presentModal()" class="btn_submit" style="font-size: x-large;"><ion-icon name="add-outline"></ion-icon></button>
    </div>
    <div>
    </div>
  </div>
</div>
