.payment_btn, .upload_btn,.pic_btns {
  background-color: #F89142;
  margin-top: 20px;
  color: #fff;
  padding: 10px 30px;
  width: 90%;
  border-radius: 15px;
}


.border-radius{
  border-radius: 10px!important;
}
.mat-exp-header{
  padding: 35px 24px;
}

.items {
  margin: 4px;
}

.mat-exp-header{
  padding: 5px 12px;
}

.coupon-field{

}



.apply-btn{
  background: #f89142;
  color: white;
  margin-left: 5px;
  padding: 9px 32px;
}

*{
  font-family: 'Nunito', sans-serif;
}

.apply{
  color:#01579B;
  border: 1px solid #01579B;
}
